.btn-group-sm > .btn, .btn-sm{border-radius: 0px;}
.btn{border-radius: 0px;}
.form-group-sm .form-control{border-radius: 0px;}
.form-control{border-radius: 0px;}
.input-group-addon{border-radius: 0px;}
.input-group{margin: 10px 0px;}
.form-login-wrapper{padding: 20px 8px 10px 8px; background-color: #f8f8f8; border: 1px solid #e7e7e7; margin-top: 35%; color: #5e5e5e}
.form-footer{padding-top: 20px; line-height: 14px; font-size: 11px;}
.form-header{font-size: 18px;}
.dropdown-menu > li > a{color: #777;}
.navbar-nav > li > .dropdown-menu{border-radius: 0px !important;}
.container.for-fixed-nav{margin-top:80px !important;}
.dropdown-menu{border-radius: 0px;}
.btn-group.open .dropdown-toggle{box-shadow: none; -webkit-box-shadow:none; -moz-box-shadow::none;}
.panel-default > .panel-heading > h3{color: #5e5e5e !important;}
.panel-default > .panel-heading{color: #5e5e5e !important;}

.log-container{padding: 10px; border-bottom: 1px solid #ddd !important; font-size: 12px;}

a:hover{text-decoration: none !important;}
td > a:hover{text-decoration: none !important;}
body{color: #5e5e5e;}
hr{border-top: 1px solid #ddd !important;}
body { 
  background: url(../images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.container.you-shall-not-pass{margin-top: 10%;}
.gandalf > img{padding: 20px;}
.colored-line.yellow{border-bottom: 1px solid #faebcc; padding: 0px 50%;}	
.bottom-line{border-bottom: 1px solid #ddd; padding: 10px 0px;}

.datepicker{margin-top: 70px; border-radius: 0px; margin-left:15px;}
.input-prepend{margin-top: 0px !important;}
.input-group.custom{margin-top: 0px;}

.alert{border-radius: 0px;}
.panel{border-radius: 0px;}
.label{font-weight: normal !important;}
.input-group.custom{margin: 0px; padding: 0px 15px;}

    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }




/*-------------------
     UPLOAD FILE
-------------------*/

#upload ul{
    list-style:none;
    margin:0;
}

#upload ul > li canvas{
  display: none;
}

#upload ul li{
    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    font-size: 14px;
    top: -2px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
    font-size: 11px;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}